<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'charityfinder_app/style.css' %}" media="screen"/>
    <title>Chariftyfinder</title>
</head>
<body>
    <nav> NAV </nav>
    {% if request.user.is_authenticated %}
        <p id="acc">Logged in: <strong>{{ user }}</strong> - <a href="{% url 'login_app:logout' %}">Log out</a></p>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>