{% extends "comment_app/comments.html" %}

{% block charity %}
<section class="content">
    <h1>{{ gg_api_data.project.title }}</h1>
    {# accessing last element using |last #}
    {# accessing key/value using %with/as% assignment #}
    <div id="project-img-container">
        <img id="project-img" src="
            {% with gg_api_data.project.image.imagelink|last as last %}
                {{ last.url }}
            {% endwith %}" />
    </div>
    <p>{{ gg_api_data.project.summary }}</p>
    <p>Country:
         {% for country in gg_api_data.project.countries.country %}
            <strong>{{ country.name }}</strong>
         {% endfor %}</p>
    <p>Themes:
        {% for theme in gg_api_data.project.themes.theme %}
            <strong>{{ theme.name }}</strong>
        {% endfor %}</p>
    <p>Donation options:</p>
        {% for option in gg_api_data.project.donationOptions.donationOption %}
            <p><strong>{{ option.amount }}</strong> - {{ option.description }}</p>
        {% endfor %}
    <p>Organization: <strong>{{ gg_api_data.project.organization.name }}</strong></p>
    <p>Website: <a href="{{ gg_api_data.project.organization.url }}">{{ gg_api_data.project.organization.url }}</a></p>
    <p>Mission:</p> <p>{{ gg_api_data.project.organization.mission }}</p>
    <p id="org-rating">Organization rated by users:
        <strong>{{ project_rating|floatformat:1 }}</strong>
        <span style="font-size: 0.9em">⭐</span>
    </p>
    <div><p>Rate org:</p>
        {% if request.user.is_authenticated %}
            <form action="{% url 'charityfinder_app:new_vote' pid %}" method="POST">
                {% csrf_token %}
                <div id="slidecontainer">
                    <input type="range" min="0" max="10" value="10" name="project_rating" id="rating-slider">
                    <strong><span id="slider-value"></span></strong>
                    <button class="btn-style-3">Rate</button>
                </div>
            </form>
        {% endif %}
    </div>
</section>
<script>
    const slider = document.getElementById("rating-slider");
    const slider_output = document.getElementById("slider-value");
    slider_output.innerHTML = slider.value;

    slider.oninput = function() {
      slider_output.innerHTML = this.value;
    }
</script>
{% endblock %}

